.banner_txt_wrap {
  padding-top: 300px;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner_txt_wrap h2 {
  font-size: 80px;
  margin-bottom: 40px;
}
.banner_txt_wrap p {
  width: 573px;
}
.banner_page_title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.brand_crumb {
  top: 100px;
  right: 250px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.brand_crumb li:first-child a {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/home_icon.png) no-repeat center/cover;
}
.brand_crumb li:first-child::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/bread_crumb_arrow.png) no-repeat center/cover;
  margin: 0 15px;
}
.brand_crumb li a {
  font-size: 16px;
  color: #757575;
}
.banner_title {
  font-size: 250px;
  font-weight: 600;
  color: #151515;
}

.title_more {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
#news {
  padding-top: 300px;
  width: 1440px;
  margin: 0 auto;
}
.news_wrap {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #4f4f4f;
}
.news_list {
  border-top: 1px solid #4f4f4f;
  padding: 20px;
  transition: background 0.3s;
}
.news_list:nth-child(5n + 1) {
  border-top: none;
}
.news_list a {
  display: flex;
}
.news_list:hover {
  background-color: #222;
}
.news_list:hover .news_img_wrap img {
  transform: scale(1.1);
}
.news_img_wrap {
  overflow: hidden;
  width: 340px;
  height: 227px;
}
.news_img_wrap img {
  transition: transform 0.3s;
  width: 100%;
}
.news_list h3 {
  font-size: 24px;
  font-weight: 600;
}
.news_txt_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}
.contens_data {
  display: flex;
  color: #5e5e5e;
}
.contens_data li:after {
  content: "|";
  margin: 0 5px;
}
.contens_data li:last-child::after {
  display: none;
}

.news_text {
  margin: 20px 0 60px 0;
  color: #a9a9a9;
}

.btn_number {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.btn_number li {
  margin: 0 20px;
  line-height: 40px;
}
.btn_number li a {
  color: #a9a9a9;
}
.btn_number a.active {
  background: #e8cb32;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
}
